@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Questrial", sans-serif;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
h1 {
  color: #ffffff;
  position: absolute;
  top: 30px;
}
.player {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 10px;
  width: 60%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.player:hover .controls {
  transform: translateY(0);
  animation: hideControls 4s forwards;
}
.player:hover {
  animation: hideMouse 4s forwards;
}

@keyframes hideMouse {
  0% {
    cursor: pointer;
  }
  99.5% {
    cursor: pointer;
  }
  100% {
    cursor: none;
  }
}
@keyframes hideControls {
  0% {
    transform: translateY(0);
  }
  99% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(120%);
  }
}
.screen {
  width: 100%;
  background-color: black !important;
  border-radius: 10px;
}
.controls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  transform: translateY(120%);
  transition: all 0.3s ease-in-out;
}
.btn {
  cursor: pointer;
  background: transparent;
  border: 0;
  color: rgba(27, 27, 51, 1);
}
.btn:focus {
  outline: 0;
}
.fa-play {
  color: #28a745;
}
.fa-stop {
  color: #dc3545;
}
.fa-pause {
  color: #fff;
}
.skip {
  color: #fff;
}
.timestamp {
  color: #fff;
  font-weight: bold;
  margin-left: 10px;
}
.player:fullscreen .screen {
  height: 100%;
}
@media (max-width: 800px) {
  .player {
    width: 90%;
  }
}
